**/.git
**/.turbo
**/.next
**/out
**/dist
**/build
**/storybook-static
**/coverage
**/node_modules

# envs
.env
.env.production
.env.development
secrets

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode

# misc
.DS_Store
*.pem
Dockerfile
README.md

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
