# dependencies
node_modules
.npm
.cache
package-lock.json
.pnpm-store
.apt
.pnp
.pnp.js
.yarn/install-state.gz

# testing
coverage

# production
.next/
out/
dist/
build/
.swc/
.react-email/

# misc
.DS_Store
*.pem
*.bak
.turbo
bin/
dump_*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Storybook
*storybook.log
storybook-static
/public

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# local env files
.env
.env.dev
.env.production
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
packages/i18n/src/translations/*.d.json.ts
