@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  @apply flex h-screen flex-col;
}

.prose {
  @apply !max-w-4xl text-gray dark:text-gray-300;
}

.prose a,
.prose strong {
  @apply text-yellow dark:text-yellow-dark;
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply mt-1 text-gray dark:text-gray-dark;
}

.prose code {
  color: #ce9178;
}
.prose :where(code):not(:where([class~='not-prose'] *))::before,
.prose :where(code):not(:where([class~='not-prose'] *))::after {
  content: '';
}
.shiki {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  word-wrap: normal;
}
code {
  counter-reset: step;
  counter-increment: step 0;
}
code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(133, 133, 133, 0.8);
}
