name: "Chromatic"

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop, staging, main]

jobs:
  chromatic:
    timeout-minutes: 30
    runs-on: "ubuntu-latest"
    env:
      CI: "1"
      TZ: "Europe/Paris"
      DO_NOT_TRACK: "1"
      TURBO_TELEMETRY_DISABLED: "1"
      NEXT_TELEMETRY_DISABLED: "1"
      STORYBOOK_DISABLE_TELEMETRY: "1"
    steps:
      - uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1
        with:
          fetch-depth: 0

      - uses: "pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061" # v4.2.0

      - name: "Setup Node.js"
        uses: "actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f" # v6.1.0
        with:
          node-version: "24.11.1"
          cache: "pnpm"

      - name: "Install dependencies"
        run: "pnpm install --frozen-lockfile"

      - name: "Run Chromatic"
        uses: "chromaui/action@ac86f2ff0a458ffbce7b40698abd44c0fa34d4b6" # latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: "apps/storybook"
