name: "CI"

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop, staging, main]

jobs:
  ci:
    timeout-minutes: 30
    runs-on: "ubuntu-latest"
    env:
      CI: "1"
      TZ: "Europe/Paris"
      DO_NOT_TRACK: "1"
      TURBO_TELEMETRY_DISABLED: "1"
      NEXT_TELEMETRY_DISABLED: "1"
      STORYBOOK_DISABLE_TELEMETRY: "1"
    steps:
      - uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0

      - uses: "pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda" # v4.1.0

      - name: "Setup Node.js"
        uses: "actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903" # v6.0.0
        with:
          node-version: "24.10.0"
          cache: "pnpm"

      - name: "Install dependencies"
        run: "pnpm install --frozen-lockfile"

      - name: "Install Playwright"
        run: "pnpm exec playwright install --with-deps"

      - run: "node --run lint:editorconfig"
      - run: "node --run lint:markdown"
      - run: "node --run lint:typescript"
      - run: "node --run lint:eslint"
      - run: "node --run lint:prettier"
      - run: "node --run test"
      - run: "node --run build"
