name: "CI"

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop, staging, main]

jobs:
  ci:
    timeout-minutes: 30
    runs-on: "ubuntu-latest"
    env:
      CI: "1"
      TZ: "Europe/Paris"
      DO_NOT_TRACK: "1"
      TURBO_TELEMETRY_DISABLED: "1"
      NEXT_TELEMETRY_DISABLED: "1"
      STORYBOOK_DISABLE_TELEMETRY: "1"
    steps:
      - uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1

      - uses: "pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061" # v4.2.0

      - name: "Setup Node.js"
        uses: "actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f" # v6.1.0
        with:
          node-version: "24.11.1"
          cache: "pnpm"

      - name: "Install dependencies"
        run: "pnpm install --frozen-lockfile"

      - name: "Install Playwright"
        run: "pnpm exec playwright install --with-deps"

      - run: "node --run lint:editorconfig"
      - run: "node --run lint:markdown"
      - run: "node --run lint:typescript"
      - run: "node --run lint:eslint"
      - run: "node --run lint:prettier"
      - run: "node --run test"
      - run: "node --run build"
